@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
    font-family: Montserrat;
    color: white;
}

h1 {
    font-size: 1.5em;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    padding: 10px 10px;
}

nav {
    margin: 20px;

}

nav ul {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    flex-shrink: 1;
    flex-grow: 1;

}

nav ul li a:link {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    margin: 10px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(156, 13, 13);
    background-color: rgb(209, 204, 204);
    border-radius: 7px;
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: rgb(99, 99, 100);
}

main {
    grid-column: 1 / 4;
    display: grid;
}

.main {
    grid-column: 1 / 3;
    background-color: rgb(175, 179, 177);
    min-height: 300px;
    padding: 10px 10px;
}

.aside {
    grid-column: 3 / 4;
    background-color: rgb(216, 195, 195);
    padding: 10px 10px;

}

footer {
    grid-column: 1 / 4;
    background-color: rgb(99, 99, 100);
    min-height: 100px;
    padding: 10px 10px;
    text-align: center;
}